.canvas{
    width: 400px;
    background: #ccc;
    border: 10 px, solid, #ddd;
    margin: 0 auto;
}

body{
    background-color: #ccc;
}

button{
    margin-left: auto;
    margin-right: auto;
    display: block; 
}

/*.canvas {
    position: absolute;
    top:  50%;
    left: 50%;
}*/