body{
    background-color: rgb(99, 99, 99)
}


.booth{
    margin: 0 auto;
    font-family: Cambria;
    display: flex;
    position: absolute;    
}

.canvas{
    width: 480px;
    height: 320px;
}

